:root {
    --primary: #3460FB;
    --gray-background:#F8F9FA;
    --stroke: #F1F3F5;
    --primary-op10: #E1E7FF;
    --gray-600: #6B7280;
    --secondary-bg: #F3F8FF;
    --red: #F3451E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.midsidebar__container {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--secondary-bg);
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

.midsidebar__header {
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    display: flex;
    align-items: center;
    padding: 0 22px;
    border-bottom: 1px solid var(--stroke);
}

.conversationID {
    flex-direction: column;
    h1 {
        color: var(--gray-600);
        font-size: 12px;
        font-weight: 400;
    }
    h2 {
        color: var(--gray-600);
        font-size: 14px;
        font-weight: 600;
    }
}

.midsidebar__icons {
    display: flex;
    gap: 12px;
    img {
        width: 20px;
    }
}