:root {
  --primary: #3460FB;
  --gray-background:#F8F9FA;
  --stroke: #F1F3F5;
  --primary-op10: #E1E7FF;
  --gray-600: #6B7280;
  --secondary-bg: #F3F8FF;
  --red: #F3451E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 22px;
    margin-bottom: 10px;
    overflow: scroll;
    max-height: 750px;
    align-items: flex-end;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-bottom: 10px;
  }
  
  .message-text {
    background-color: var(--primary);
    color: white;
    padding: 16px;
    border-radius: 16px;
    max-width: 65%;
    min-width: 170px;
    font-family: 'Readex Pro';
    font-weight: 200;
    line-height: 1.3;
  }
  
  .channel-title {
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0px;
    opacity: 50%;
  }

  .message-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .message-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    font-weight: 400;
    opacity: 50%;
  }

  .input-container {
    display: flex;
  }
  
  input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
  }
  
  button {
    padding: 5px;
  }

  .avatar {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .icon {
    img {
      width: 18px;
    }
  }

  .agent-name {
    font-size: 14px;
    font-weight: 400;
  }
  