:root {
  --primary: #3460FB;
  --gray-background:#F8F9FA;
  --stroke: #F1F3F5;
  --primary-op10: #E1E7FF;
  --gray-600: #6B7280;
  --secondary-bg: #F3F8FF;
  --red: #F3451E;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .messages-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 22px;
    margin-bottom: 10px;
    overflow: auto;
    height: 600px;
    align-items: flex-end;
  }

  .message-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end; 
    margin-bottom: 10px;
  }
  
  .message-text {
    background-color: var(--primary);
    color: white;
    padding: 16px;
    border-radius: 16px;
    max-width: 65%;
    min-width: 170px;
    font-family: 'Readex Pro';
    font-weight: 200;
    line-height: 1.3;
  }
  
  .channel-title {
    font-size: 12px;
    font-weight: 400;
    margin: 8px 0px;
    opacity: 50%;
  }

  .message-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
  
  .message-info {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
  }
  
  .message-time {
    font-size: 12px;
    font-weight: 400;
    opacity: 50%;
  }
  
  button {
    padding: 5px;
  }

  .avatar {
    img {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      margin-left: 10px;
    }
  }

  .icons-container {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }
  
  .icon {
    img {
      width: 18px;
    }
  }

  .agent-name {
    font-size: 14px;
    font-weight: 400;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 12px;
    height: 220px;
    background-color: #F8F9FA;
    input {
      padding: 0px 20px;
      border: none;
      background-color: #F8F9FA;
    }
  }

  input {
    flex: 1;
    padding: 5px;
    margin-right: 5px;
  }

  .primary__button {
    border: none;
    cursor: pointer;
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 600;
    background-color: var(--primary);
    color: #fff;
    }

  .reply__tabs {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--stroke);
    gap: 15px;
    height: 35px;
    padding: 0px 16px;
  }

  .reply__active {
    color: var(--primary);
    border-bottom: 3px solid var(--primary);
    padding: 5px;  
  }

  .send-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 16px;
    height: 60px;
    border-top: 1px solid var(--stroke);
    img {
      width: 18px;
    }
  }

  .reply__options {
    display: flex;
    gap: 8px;
  }
  .item {
    background-color: var(--stroke);
    border-radius: 5px;
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }