:root {
  --primary: #3460FB;
  --gray-background:#F8F9FA;
  --stroke: #F1F3F5;
  --primary-op10: #E1E7FF;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: row;
}

.main__sidebar {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-background);
  padding: 1rem 1rem;
  border-right: 1px solid var(--stroke);
  justify-content: space-between;
  height: 100vh;
  align-items: center;
}

.top{
  display: flex;
  flex-direction: column;
  .icon__item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 65px;
    :hover {
      background-color: var(--primary-op10);
      border-radius: 150px;
    }
  }
}

.botom {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .icon__item{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
  }
  :hover {
    background-color: var(--primary-op10);
    border-radius: 150px;
  }
}

.user__avatar {
  width: 45px;
  img {
    width: 45px;
    border-radius: 55px;
  }
}

.accordion {
  width: 360px;
}

.accordion-title {
  display: flex;
  background-color: var(--gray-background);
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid var(--stroke);
  border-top: 1px solid var(--stroke);
}

.accordion-content {
  padding: 1.2rem;
}

.user__card {
  display: flex;
  flex-direction: row;
}

.user__card__avatar {
  img {
    width: 2rem;
  }
  margin-right: 0.5rem;
}
.username__group {
  display: flex;
  flex-direction: column;
}

.sidebar__titles {
  font-size: 1rem;
  font-weight: 600;
}

.sidebar__sub__titles {
  font-size: 0.8rem;
  font-weight: 400;
}

/* Your existing styles */
.main__sidebar {
  /* ... */
}

.tooltip-container {
  position: relative;
  display: inline-block;
}

.tooltip {
  position: absolute;
  top: 30%; /* Adjust as needed */
  left: 60px; /* Fixed value for the left space */
  background-color: #333;
  color: #fff;
  padding: 8px; /* Adjust as needed */
  border-radius: 4px;
  white-space: nowrap;
  font-size: 14px; /* Adjust as needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
}
.tooltip::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 100%;
  margin-top: -5px; /* Half of the height of the arrow */
  border-width: 5px;
  border-style: solid;
  border-color: transparent #333 transparent transparent;
}

.channels__sidebar {
  width: 12.5rem;
  border-right: 1px solid var(--stroke);
  flex-direction: column;
}

.sidebar__header {
  flex-direction: row;
  justify-content: space-between;
  color: #000000;
  height: 4.375rem;
  display: flex;
  align-items: center;
  padding: 0 22px;
  border-bottom: 1px solid var(--stroke);
}

.sidebar__header__title {
  font-size: 14px;
  font-weight: 600;
}

.collabse__icon__item {
  position: relative;
  top: 22px;
    left: -29px;
    background-color: white;
    border-radius: 55px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.07));
}

.sidebar__card__header{

}

.sidebar__card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-self: stretch;
  
}

.sidebar__card__active {
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0px 22px;
  align-items: center;
  gap: 12px;
  border-left: 1px solid var(--primary);
  background: var(--Secondary-Background, #F3F8FF);
  h5 {
    font-size: 12px;
    font-weight: 400;
    }
  }

.sidebar__card_item{
  display: flex;
  height: 50px;
  width: 100%;
  padding: 0px 22px;
  align-items: center;
  gap: 12px;
  h5 {
    font-size: 12px;
    font-weight: 400;
  }
}

.sidebar__card_item:hover {
  background-color: var(--Secondary-Background, #F3F8FF);
}